<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Dashboard</h1>
    </div>

    <div class="p-col-12 p-md-6">
      <p-panel header="Total de lançamentos mês atual: Receitas por categoria">
        <p-chart type="pie" [data]="pieChartDataReceita" [options]="pieChartOptions"></p-chart>
      </p-panel>
    </div>

    <div class="p-col-12 p-md-6">
      <p-panel header="Total de lançamentos mês atual: Despesas por categoria">
        <p-chart type="pie" [data]="pieChartDataDespesa" [options]="pieChartOptions"></p-chart>
      </p-panel>
    </div>

    <div class="p-col-12 p-md-6">
      <p-panel header="Total de lançamentos por dia referente ao mês atual">
      <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
      </p-panel>
    </div>

  </div>
</div>
