<app-navbar *ngIf="exibindoNavbar()"></app-navbar>
<router-outlet></router-outlet>

<p-toast></p-toast>

<p-confirmDialog header="Confirmação" icon="pi pi-question-circle"
acceptLabel="Sim" rejectLabel="Não">
</p-confirmDialog>

<!--
  A forma para mudar o idioma do botao de dialogo confirmar o Thiago ensinou da forma abaixo
  mas no forum do curso um rapaz leu na documentacao e pode ser feita de forma mas simples
  como mostrado acima adicionando apenas acceptLabel="Sim" rejectLabel="Não"
  OBS: Fazendo da forma abaixo você pode customizar mas os botões

<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>   -> tag para rodapé
    <button type="button" pButton icon="pi pi-check-circle" label="Sim"
    (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="pi pi-times-circle" label="Não"
    (click)="confirmacao.reject()"</button>
  </p-footer>
  <p-confirmDialog>
 -->
